*
{
    padding:0px;
    margin:0px;
}


svg {
  max-height: 100%;
  max-width: 100%;
}

.pt1 {
  padding-top: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: auto;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

@media screen and (max-width:480px) {
  .column {
    min-width: 100%;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width:480px) {
  .row>.column {
    width: 100%!important;
  }
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.w100 {
  width: 100%;
}

.vh100 {
  height: 100vh;
}

.h75 {
  height: 75%;
}

.h100 {
  height: 100%;
}

.bg-white {
  background-color: #fff;
}

.absolute {
  position: absolute;
}

.center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column.top-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.column.top-center {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.depth-1 {
  z-index: 100;
}

@font-face {
  font-family: Office Code Pro;
  src: url(../fonts/OfficeCodePro-Regular.woff);
}

::-moz-selection {
  background: #222;
  color: #2c6284;
}

::selection {
  background: #222;
  color: #2c6284;
}

h2 {
  font-weight: 400;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 1.3;
}

body {
  font-size: 1rem;
}

body {
  background-color: #fff;
  color: #222;
  font-family: Open Sans, Helvetica, sans-serif;
  line-height: 1.6;
}

ul {
  list-style-type: disc;
}  


body {
}

#risk_group
{
}
