.video{
    width:100%;
}
.c-video{
    /*width:100%;*/
    /*max-width:600px;*/
    position: relative;

    overflow: hidden;   /* hides the control bar */
}
.c-video:hover .controls{
    /* brings back the controls bar when the video containter id hovered 
       needed to add translateZ to include the controls container to the
       position restoration */
    transform: translateY(0) translateZ(0);  
}

.controls{
    z-index:1;
    display: flex;
    position: absolute;
    bottom: 0;
    width:100%;
    flex-wrap: wrap;
    background: rgba(256,256,256,0.3);

    /* 
    moves the control's top at the very bottom of the video component,
    then again moved up by 5 pixels to reveal a portion of the control bar
    */
    transform: translateY(100%) translateY(-6px);   
    transition: all 0.4s;
}

.buttons{
    padding: 7px;
    display: flex;
    flex-direction:row;
    width:100%;
}

.buttons button{
    background:none;
    border:0;
    outline:0;
    cursor:pointer;
    margin-right:7px;
}


.buttons button:before{
    font-family:'Font Awesome 5 Free';
    width:25px;
    height:25px;
    display:inline-block;
    font-size:28px;
    color:#fff;
    --webkit-font-smoothing:antialiased;
}

.buttons button i{
    color:#ccc;
    font-size:1.5rem;
}
.buttons button i.sm{
    font-size:1.2rem;
}

.buttons button#play-pause.play:before{
    content:'\f144';
}

.buttons button#play-pause.pause:before{
    content:'\f28b';
}

.buttons button#mute-unmute.mute:before{
    content:"\f015";
}

.buttons button#mute-unmute.unmute:before{
    content:'\f28b';
}


.orange-bar{
    height:6px;
    top:0;
    left:0;
    width:100%;
    background: #c0c0c0;
}
.orange-juice{
    height:6px;
    background: orangered;
}

.volume-bar{
    margin:auto 5px;
    height:10px;
    width:100px;
    background: darkslategray;
}
.volume{
    height:100%;
    background: white;
    width:50%;
}

/*
.c-video{
    width:100%;
    max-width:600px;
    background: beige;
    margin:auto 0px;
}

.controls{
    display: flex;
    bottom:0;
    width:100%;
    flex-wrap:wrap;
    background:rgba(0,0,0,0.7);
}

*/