<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" />
    <sessionState timeout="20" />
        <webServices>
            <protocols>
                <add name="HttpSoap, HttpGet, HttpPost" />
            </protocols>
        </webServices>
    
	</system.web>
	<connectionStrings>
    <add name="CONNECTION_STRING" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\VideoLibrary.mdb;Persist Security Info=True;" providerName="System.Data.OleDb" />
    <add name="CONSTR_UserManagement" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\UserManagement.mdb;Persist Security Info=True;" providerName="System.Data.OleDb" />
	</connectionStrings>
    <system.webServer>
        <httpRedirect enabled="false" destination="http://www.ivideolib.com" childOnly="false" httpResponseStatus="Permanent" />
    </system.webServer>
</configuration>
