<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>

      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime maxRequestLength="2097152" targetFramework="4.5.2" />

      <!-- This section must be added in order for the web services to work properly -->
      <webServices>
        <protocols>
          <add name="HttpGet" />
          <add name="HttpPost" />
        </protocols>
      </webServices>

    </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
    <appSettings>
      <add key="VIDEO_LIBRARY_DATA_PATH" value="./Library/App_Data" />
      <add key="UPLOAD_LOCATION" value="./Library/Videos" />
    </appSettings>

  <!--

  <system.web>
    <httpRuntime maxRequestLength="2097152" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>  
  
  -->
  

</configuration>
